extends NewText.pug


block content
    div
        h2 this is my home page
        p GrabCAD Shop simplifies the 3D Printing Shop workflow for engineers,
        | designers and shop operators. Reduce time wasted trying to keep track 
        | of 3D print requests.
        br
        | Get your prints when you need them.
        |Go to our Grapcad shop: #[a( href='https://grabcad.com/shop' ) GrapcadHome] if you want.