extends NewText.pug


block content
    div
      h2  GrabCAD Shop Features
      p      GrabCAD Shop improves your workflow, saves time & money, and 
             |increases productivity with these features built specifically for 3D 
             br
             |printing model shops.
             br
             |To get our other features: #[a( href='https://grabcad.com/shop/features' ) GrapcadFeatures] if you want.


   
